<div class="ticket-check">
  <button (click)="goHome()">მთავარი</button>

  <h2>ბილეთის შემოწმება</h2>

  <div class="search">
    <input type="text" [(ngModel)]="ticketId" placeholder="ბილეთის ID" />

    <button (click)="checkTicket()">შემოწმება</button>
  </div>

  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>

  <div *ngIf="successMessage" class="success">
    {{ successMessage }}
  </div>

  <div *ngIf="ticket">
    <h3>
      {{ ticket.train.from }}
      →
      {{ ticket.train.to }}
    </h3>

    <p>
      რეისი:
      {{ ticket.train.number }}
    </p>

    <p>
      თარიღი:
      {{ ticket.date }}
    </p>

    <p>
      თანხა:
      {{ ticket.ticketPrice }}
      ₾
    </p>

    <div *ngFor="let person of ticket.persons">
      <p>
        {{ person.name }}
        {{ person.surname }}
      </p>

      <p>
        ადგილი:
        {{ person.seat.number }}
      </p>
    </div>

    <button (click)="cancelTicket()">ბილეთის გაუქმება</button>

    <button (click)="newSearch()">ახალი ძებნა</button>
  </div>
</div>
